.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
    height: 98vh;
    font-family: Roboto;
}

.sidebar {
    background-color: #2493d2;
    color: #ffffff;
    padding-right: 70px;
    padding-left: 25px;
    font-weight: 700;

    grid-area: sidebar;
    display: grid;
    grid-template-rows: 150px 1fr 1.5fr;
}

        .sidebar-icon {
            filter: invert(100%) sepia(2%) saturate(7494%) hue-rotate(183deg) brightness(102%) contrast(100%);
        }

        .sidebar li {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 20px;
        }

        .sidebar ul {
            display: flex;
            flex-direction: column;
            gap: 25px;
            list-style-type: none;
            padding: 0px;
        }

        .logo {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .logo > p {
            font-size: 30px;
        }

.header {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    padding-left: 10px;

    grid-area: header;
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    grid-template-rows: 1fr 2fr;
}

        /* .header > * {
            border: 1px black solid;
        } */

        .search {
            display: flex;
            padding-left: 10px;
            padding-right: 30px;
            gap: 5px;
        }

        .searchbar {
            flex-grow: 1;
            margin: 15px 5px;
            border-radius: 10px;
            border: none;
            background-color: #e2e8f0;
        }

        .user-account {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 30px;
            padding-right: 60px;
        }

        .avatar {
            border-radius: 50%;
            background-color: rgb(242, 194, 194);
            padding: 5px;
        }

        .user-name {
            font-weight: 600;
            font-size: 1.1rem;
        }

        .user-welcome {
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 15px;
        }

        .welcome-message > p {
            margin: 10px;
            font-size: 1.4rem;
            font-weight: 600;
        }

        #hello {
            font-size: 1rem;
            font-weight: 400;
        }

        .user-functions {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 25px;
            padding-right: 60px;
        }

        .user-functions > button {
            color: white;
            background-color: #2493d2;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 10px 30px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border: none;
        }

        .user-functions > button:hover {
            background-color: #0e6ba1;
        }


.main-content {
    background-color: #e2e8f0;
    z-index: 1;

    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    padding: 20px 25px 75px;
}

        /* .projects-container, .announcements-container, .trending-container {
            border: 1px black solid;
        }

        .projects-container > * {
            border: 1px black solid;
        }
        .announcements-container > * {
            border: 1px black solid;
        }
        .trending-container > * {
            border: 1px black solid;
        } */

        .projects-header, .announcements-header, .trending-header {
            display: flex;
            align-items: end;
            font-size: 1.2rem;
        }

        .card {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background-color: white;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .project-card:hover {
            background-color: rgb(244, 234, 216);
        }

        .projects-container {
            grid-area: projects;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 45px repeat(3, 1fr);
            gap: 25px;

            padding-right: 25px;
        }

        .projects-header {
            grid-column: span 2;
        }

        .project-card {
            border-left: 8px solid #eeb33b;
            padding: 40px 20px;
            gap: 10px;
        }

        .card-header {
            font-size: 1.1rem;
        }

        .card-content {
            font-size: 1rem;
            color: rgb(135, 132, 132);
            margin-bottom: auto;
        }

        .share-icons {
            align-self: flex-end;
            display: flex;
            justify-content: end;
            gap: 15px;
        }

        .announcements-container {
            grid-area: announcements;
            display: grid;
            grid-template-rows: 45px 1fr;
            gap: 10px;
        }

        .announcements-card {
            padding: 20px 0px;
            font-size: 0.8rem;
            justify-content: space-around;
            margin-top: 15px;

            display: flex;
            flex-direction: column;
        }

        .announcement {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 40px;
        }

        .announcement:hover {
            background-color: #f4ead8;
        }

        .announcement-title {
            font-size: 0.95rem;
        }

        .announcement-content {
            color: rgb(135, 132, 132);
            padding-top: 5px;
        }

        .middle-announcement {
            border-top: 1px #c4c1c1 solid;
            border-bottom: 1px #c4c1c1 solid;
        }


        .trending-container {
            grid-area: trending;
            display: grid;
            grid-template-rows: 45px 1fr;
            gap: 25px;
        }

        #trending-card {
            padding: 30px;
            justify-content: space-around;
        }

        .trending-item {
            display: flex;
            gap: 20px;
            font-size: 0.9rem;
        }

        #trending-card:hover {
            background-color: #f4ead8;
        }

        .trending-text {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .trending-name {
            color: #616060;
        }


        #avatar1 {
            background-color: rgb(135, 185, 135);
        }

        #avatar2 {
            background-color: rgb(129, 158, 231);
        }

        #avatar3 {
            background-color: rgb(185, 127, 239);
        }

        #avatar4 {
            background-color: rgb(220, 234, 115);
        }

