.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
        height: 100vh;
}

.sidebar {
    background-color: #2493d2;

    grid-area: sidebar;
}

.header {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;

    grid-area: header;
}

.main-content {
    background-color: #e2e8f0;
    z-index: 1;

    grid-area: main-content;
}

